# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxpython2.7
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxpython3.6
    - CONFIG=osx_c_compilerclangcxx_compilerclangxxpython3.7
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxpython2.7
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxpython3.6
    - CONFIG=osx_c_compilertoolchain_ccxx_compilertoolchain_cxxpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "hu+kRsB7T4kKJpo06ayUYYaCqU5C6OaltWAwLl7iTR697anoS/EOJbFp3PLeuq0bdvbdCVeZbxpTWImnnPseZfRrT3ZlGmzCkluuewAlFSME6pmQ0wMQsLvgwzaNbhqZWDhEsiHtPMpc9NPePxm4CdbTdiMUYx8gNMVOlEXvraWrh746lUJ2ZVkkb2u8CYSwBpcRMBxrYXF4z2371lQL1uZVGaxjrqgFz9+/zxziUT4cqQ5Lgi4kn3a3ioh8W9TKNQka0NwBfCp4r9CmjfHWzonqpe5d/gpU7N4WShcs6GsqtZBIweUnJ1nLaHYBaQpbKGscVKTd9wzy4aRfRkxoZMl6DfmM9NIwq1ZUjbG4TLHPM4c/td1CYdP8xJsZvClxXemIcuUj2WlMuf43iJjWrKuTz3vGxHiQeItimK7BEHTF7tdfX05WZSYRotUyr07VLNp1T71jVDMvl2gIP4f/QilgT4Jm1y5B+4JYF5hPg0P7TzHiUPhMzkqeY24hhPqwSIYYoxwSGMDk0pDe52w8/23qlnwJT0pt6MGbAk+Gljnd7/kJq2wGXGpyBz5DogYBLJDk49A7omls0j7ug48YLvio00agUiJ21MYXjl2NQeHRsmLt/n+1UT0o61AR2RHhqntXjof8N0noFU1/UvGS2Ac+iqm1wvqzXBmaF5Pq5hA="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
